<!DOCTYPE html>

<html>
<head>
    <title>Домашняя страница</title>
    <link rel="stylesheet" href="static/style.css" type="text/css">
</head>
<body>

<nav>
    <p class="dashboard-name">Student Dashboard</p>
    <a class="nav-item">Dashboard</a>
    <a class="nav-item">Курсы</a>
    <a class="nav-item">Форум</a>
    <a class="nav-item">Расписание</a>
    <a class="nav-item">Личный кабинет</a>
</nav>
<div class="today-container">
<p class="today-is-heading">Сегодня, </p>
</div>
<div class="calendar">
    
</div>
<div class="lectures-container">

</div>

</body>
</html>