<html><head>
    <title>Домашняя страница</title>
    <link rel="icon" href="/static/img/logo.svg" type="image/icon type">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>
<body>

<nav>
    <p class="dashboard-name">CyberHAckers</p>
    <a class="nav-item">Dashboard</a>
    <a class="nav-item">Курсы</a>
    <a class="nav-item">Форум</a>
    <a class="nav-item">Расписание</a>
    <button class="nav-item" id="exit-button">Выход</button>
</nav>
<div class="today-container">
    <p class="today-is-heading">Сегодня, </p>

    {% for lecture in lectures %}
    <h2 >{{ lecture.title }}</h2>
<!--    {% if lecture.title == 'первая' %}-->
<!--    <h2 >Ок</h2>-->
<!--    {% endif %}-->
    <p>{{ lecture.description }}</p>
    <p>Курс - {{ courses_dict[lecture.course_id]}}</p>
    <button class="btn bnt-warning">Детальнее</button>
    {% endfor %}

</div>

<div class="calendar-wrapper">
  <p id="btnPrev" type="button">❮</p>
  <p id="btnNext" type="button">❯</p>

</div>  <div id="divCal"></div>
<div class="lectures-container">

</div>


<script src="/static/scripts/script.js"></script>

</body></html>