{% extends 'base.html' %}


{% block title %}
Главная страница
{% endblock %}





{% block body %}







<div class="container">
    <form method="post">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input name="email" class="form-control" id="email" placeholder="name@example.com">
      <label for="email">Email address</label>
    </div>
    <div class="form-floating">
      <input name="password" class="form-control" id="password" placeholder="Password">
      <label for="password">Password</label>
    </div>


    <input class="btn btn-success" type="submit">Sign in</input>
  </form>
</div>





{% endblock %}
