<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/logo.svg" type="image/icon type">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class="center">
        <h1>Регистрация</h1>


        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}


        <form method="post">
            <div class="txt_field">
                <input type="text" name="first_name" required>
                <span></span>
                <label>Имя</label>
            </div>
            <div class="txt_field">
                <input type="text" name="last_name" required>
                <span></span>
                <label>Фамилия</label>
            </div>
            <div class="txt_field">
                <input type="text" name="username" required>
                <span></span>
                <label>Никнейм</label>
            </div>
            <div class="txt_field">
                <input type="text" name="email">
                <span></span>
                <label>E-mail</label>
            </div>
            <div class="txt_field">
                <input type="text" name="phone">
                <span></span>
                <label>Номер телефона</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password" required>
                <span></span>
                <label>Пароль</label>
            </div>
            <input type="submit" value="Зарегестрироваться">
            <div class="singup_link">
                Есть аккаунт? <a href="/">Войти</a>
            </div>
        </form>
    </div>
</body>
</html>